/* タイトル Wrapper */
.talkRoomMainWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* xxさんとのトークルーム */
.talkRoomTitle {
  font-size: 38px;
  font-family: "Lato";
  font-weight: 700;
  color: "#171B1D";
  word-wrap: break-word;
}
